@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('./utils.css');


:root{
    --neutral--0: #fff;
    --neutral--600: #1d1e20; 
    --neutral--400: #6d7081;

    --primary--500: #673de6;
    --primary--600: #673de6;
    --primary--800: #2f1c6a;
    --primary--1000: #1f1346;

    --h-button-bg: #673de6;
    --h-button-bg-hover: #5025d1;
    --white--100: #fff; 
    --success--500: #00b090;

    --h-color-neutral-200: #dedee2;
    --h-color-neutral-800: #222225;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    font-size: 16px;
    line-height: 24px;
    color: var(--white--100);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: sticky;
    top:0;
    left: 0;
    background-color: var(--neutral--0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.header__logo-container {
    padding: 29px 0 29px 40px;
    display: flex;
    align-items: center;
}

.header__logo-container svg{
    cursor: pointer;
}

.header__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.header__menu__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.header__menu__nav__item {
    color: var(--neutral--600);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
}

.header__menu__nav__item:hover {
    color: var(--neutral--400);
}

.header__menu__nav__item__icon-container {
    width: 24px;
    height: 24px;
}

.header__menu__right-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    gap: 30px;
    height: 48px;
}

.header__menu__right-section__lang-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__menu__right-section__lang-btn:hover {
    color: var(--neutral--400);
}

.header__menu__right-section__lang-btn img {
    width: 32px;
    height: 20px;
}

.primary-btn {
    background-color: transparent;
    border: 1px solid #161718;
    border-radius: 8px;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: transparent;
    border: 1px solid #d8dae0;
    border-radius: 8px;
    color: var(--neutral--400)
}

.header__menu__right-section__account-btn {
    font-weight: inherit;
    padding: 11px 15px;
    font-size: inherit;
}

.header__right-content__menu-btn{
    display: none;
}

/* Main content */

main {
   /*  height: 200vh; */
}

/* Kodee button */

.ask-kodee-btn {
    background-color: var(--primary--500);
    color: var(--neutral--0);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    right: 12px;
    bottom: 12px;
    padding: 8px 16px 8px 8px;
    border: none;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.ask-kodee-btn__icon-container {
    padding-left: 5px;
}

/* Sections */

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container__hero {
    padding: 0px 40px;
}
.section-container__migration {
    background-color: var(--primary--1000);
}

/* Hero section */

.hero-section {
    color: var(--neutral--600);
    background-color: transparent;
    width: 1392px;
    height: 576px;
    margin: 36px 0px 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    text-align: start;
}

.hero-section__info-header {
    width: 33.76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.hero-section__info-header__description {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.hero-section__info-header__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 15px;
    margin-top: -2px;
    letter-spacing: 1px;
}

.hero-section__info-header__features-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    margin-bottom: 14px;
}

.hero-section__info-header__features-list__feature {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.hero-section__info-header__features-list__feature .succes-icon-container{
    width: 24px;
    height: 24px;
    fill: var(--success--500);
    color: var(--success--500);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-section__info-header__features-list__feature .succes-icon-container svg{
    width: 24px;
    height: 24px;
}
.hero-section__info-header__features-list__feature .icon-container{
    width: 16px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.hero-section__info-header__guarantee {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.hero-section__image-container {
    width: 880px;
}

.hero-section__image-container img {
    width: 100%;
    display: block;
    height: auto;
}

/* Migration section */

.migration-section {
    width: 1128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 80px 0px;
}

.migration-section__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.migration-section__header__title{
    font-size: 36px;
    font-weight: bold;
}

.migration-section__header__description{
    text-align: center;
}

.migration-section__card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.migration-section__card-element{
    background-color: var(--primary--800);
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
    padding: 32px;
}

.migration-section__card-element__icon{
    background-color: var(--primary--500);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
}
.migration-section__card-element__icon 
svg{
    width: 24px;
    height: 24px;
}

.migration-section__card-element__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.migration-section__start-button{
    display: flex;
    justify-content: center;
}

.start-button{
    background-color: var(--h-button-bg);
    color: var(--white--100);
    text-decoration: none;
    font-weight: 700;
    width: fit-content;
    height: 48px;
    padding: 11px 47px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .1s ease-in-out;
}

.start-button:hover{
    background-color: var(--h-button-bg-hover);
}

/* FOOTER */

.footer {
    background-color: var(--neutral--0);
    color: var(--h-color-neutral-800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.footer-container {
    max-width: 1440px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    padding: 24px 0px;
}

.footer-container__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-container__header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-container__header__social-media-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer-container__header__social-media-list__item {
    width: 28px;
    height: 28px;
    display: flex;
    list-style-type: none;
    border-radius: 6px;
}

.footer-container__header__social-media-list__item a {
    width: 28px;
    height: 28px;
}

.footer-container__mid-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-container__mid-section__card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.footer-container__mid-section__card-container__card-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 8px;
}

.footer-container__mid-section__card-container__card-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container__mid-section__card-container__card-list__item img {
    width: 60px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--h-color-neutral-200);
}

.footer-container__mid-section__card-container__more-text {
    color: var(--primary--600);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.footer-container__mid-section__politics-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.footer-container__mid-section__politics-container a {
    text-decoration: none;
    color: var(--neutral--600);
    cursor: pointer;
}

.footer-container__copyright-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 34px; */
    margin-top: auto;
}

.footer-container__copyright-section__copyright-paragraph {
    
}

.footer-container__copyright-section__iva-paragraph {
    
}

@media screen and (max-width:1500px) {
    .footer-container {
        height: 235px;
    }
    .footer-container__mid-section{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

@media screen and (max-width: 1370px){
    .hero-section {
        width: 1392px;
        height: fit-content;
        margin: 36px 0px 96px;
        gap: 14px;
    }

    .section-container__hero {
        padding: 0px 40px;
        margin: 0 52px;
    }
    
    .hero-section__info-header{
        width: 440px;
    }
    
    .hero-section__image-container {
        width: 616px;
    }
}

@media screen and (max-width: 1270px){
    .migration-section {
        width: 710px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 60px 0px;
    }
    .migration-section__card-container{
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        gap: 25px;
    }
    .migration-section__card-element{
        width: 710px;
    }
    .footer-container {
        height: 255px;
    }
    .footer-container__copyright-section__copyright-paragraph{
        max-width: 605px;
    }
    
}

@media screen and (max-width: 1140px) {
    .header {
        height: 62px;
    }
    .header__logo-container {
        padding: 16px 0 16px 20px;
        display: flex;
        align-items: center;
    }
    .header__menu__nav {
        display: none;
    }
    .header__menu__right-section__lang-btn {
        display: none;
    }
    .header__menu__right-section__account-btn {
        display: none;
    }

    .header__right-content__menu-btn{
        border: none;
        background-color: transparent;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .header__menu{
        justify-content: flex-end;
    }
    .hero-section {
        flex-direction: column;
        align-items: start;
        width: 1392px;
        height: fit-content;
        margin: 60px 0px 80px;
        gap: 50px;
    }
    
    .section-container__hero {
        padding: 0px 40px;
        margin: 0 110px;
    }

    .hero-section__info-header{
        width: 100%;
        gap: 6px;
    }

    .hero-section__info-header__description{
        font-size: 18px;
    }
    
    .hero-section__info-header__title{
        font-size: 28px;
        letter-spacing: .5px;
        margin: -2px 0 10px;
    }

    .hero-section__info-header__features-list{
        margin: 0 0 8px;
    }
    
    .hero-section__image-container {
        width: 688px;
        min-width: 688px;
    }

    .hero-section__info-header__guarantee{
        margin-top: 5px;
    }
}

@media screen and (max-width: 1026px) {
    .footer{
        padding: 0 40px;
    }
    .footer-container {
        max-width: 688px;
    }
    .footer-container__mid-section{
        flex-direction: column-reverse;      
        gap: 20px;  
    }
    .footer-container__copyright-section{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 20px 0;
        margin-top: 25px;
    }
}

@media screen and (max-width: 767px){
    .hero-section {
        flex-direction: column;
        align-items: start;
        width: 508px;
        height: fit-content;
        margin: 0;
        padding: 14px 0px 36px;
        gap: 50px;
    }
    
    .section-container__hero {
        padding: 0px 16px;
        margin: 0 103px;
    }

    .hero-section__info-header{
        width: 100%;
        gap: 6px;
    }

    .hero-section__info-header__title{
        font-size: 24px;
        width: 100%;
        letter-spacing: .5px;
        margin: -2px 0 4px;
    }

    .hero-section__info-header__features-list{
        margin: 0 0 8px;
        width: 100%;
    }

    .hero-section__info-header
    .start-button{
        width: 100%;
    }
    
    .hero-section__image-container {
        width: 508px;
        min-width: 508px;
    }

    .hero-section__info-header__guarantee{
        margin-top: 5px;
    }
    
    .migration-section {
        width: 350px;
        text-align: center;
        padding: 40px 0px;
    }
    .migration-section__header__title{
        line-height: 40px;
    }
    .migration-section__header__description{
        text-align: justify;
    }
    .migration-section__card-element{
        width: 350px;
        text-align: left;
    }
    .footer{
        padding: 0px 15px;
    }
    .footer-container {
        max-width: 508px;
        align-items: flex-start;
    }
    .footer-container__header{
        flex-direction: column-reverse;        
        align-items: flex-start;
        gap: 38px;
    }
    .footer-container__header__social-media-list{
        width: 100%;
        flex-wrap: wrap;
        gap: 32px 42px;
        justify-content: flex-start;
    }
    .footer-container__mid-section{
        max-width: 328px;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
    }
    .footer-container__mid-section__politics-container{
        justify-content: space-between;
        align-items: flex-start;
        gap: 8px;
    }
    .footer-container__mid-section__card-container{
        max-width: 300px;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }
    .footer-container__mid-section__card-container__card-list{
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }
    .footer-container__copyright-section{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 20px 0;
        margin-top: 12px;
    }
}

@media screen and (max-width: 550px){
    .hero-section {
        flex-direction: column;
        align-items: start;
        width: 370px;
        height: fit-content;
        margin: 0;
        padding: 14px 0px 36px;
        gap: 40px;
    }
    .hero-section__image-container {
        width: 370px;
        min-width: 370px;
    }
}
@media screen and (max-width: 389px){
    .hero-section {
        flex-direction: column;
        align-items: start;
        width: 270px;
        height: fit-content;
        margin: 0;
        padding: 14px 0px 36px;
        gap: 25px;
    }
        .hero-section__info-header{
        width: 100%;
        gap: 10px;
    }
    .hero-section__info-header__description{
        line-height: 23px;
        text-align: center;
    }

    .hero-section__info-header__title{
        text-align: center;
        line-height: 28px;
    }
    .hero-section__info-header__features-list{
        gap: 1px;
    
    }
    .hero-section__image-container {
        width: 270px;
        min-width: 270px;
    }
    .migration-section {
        width: 280px;
    }
    .migration-section__card-element{
        width: 280px;
    }
}