.highlight-1 {
    color: var(--primary--500);
}

.icon-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.icon-container svg{
    width: 16px;
    height: 16px;
}